@import "../mixins.scss";

.mobile-menu__header {
  display: grid;
  @include min-tablet() {
    display: none;
  }

  background: var(--darkshade);
  height: 60px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  z-index: 2;

  h1 {
    margin: 0;
    padding-left: 20px;
    font-size: var(--font-size-2);
    font-weight: 300;

    a {
      text-decoration: none;
      color: var(--primary);
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100vw);
  background: var(--darkshade);
  z-index: 2;
}

.mobile-menu--ul {
  z-index: 2;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 40px;
  list-style: none;
}

.mobile-menu--item {
  padding: 20px;
  display: grid;
  justify-items: center;
  a {
    color: var(--primary);
    text-decoration: none;
  }
}
.mobile-menu--li--open {
  pointer-events: all;
  cursor: pointer;
}
.mobile-menu--li--closed {
  pointer-events: none;
  cursor: default;
}
.mobile-menu__nav {
  height: 60px;
}
.menu-indicator {
  background: var(--darkaccent);
  width: 150px;
  height: 130px;
  position: absolute;
  right: 60px;
  bottom: 0;
  z-index: 1;
  display: grid;
  justify-items: center;
  align-items: center;

  svg {
    width: 46px;
    height: 46px;
    path {
      fill: var(--primary);
    }
  }
}
.menu {
  width: 150px;
  position: absolute;
  right: 60px;
  top: calc(100vh);
  background: var(--darkaccent);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    justify-items: center;
  }

  li {
    padding: 40px 0;
    font-size: var(--font-size-1);
  }

  a {
    color: var(--lightshade);
    text-decoration: none;
  }
}

.menu--fixed {
  position: fixed !important;
}
