@import "./normalize.scss";
@import "./typography.scss";

:root {
  --lightshade: #ffffff; /* Use this color as the background for your dark-on-light designs, or the
  text color of an inverted design. */
  --lightaccent: #a0a603; /* Accent colors can be used to bring attention to design elements by
  contrasting with the rest of the palette. */
  --primary: #c0d904; /* This color should be eye-catching but not harsh. It can be liberally 
    applied to your layout as its main identity. */
  --darkaccent: #021e73; /* Another accent color to consider. Not all colors have to be used -
    sometimes a simple color scheme works best. */
  --darkshade: #010626; /* Use as the text color for dark-on-light designs, or as the background 
    for inverted designs. */
  --grey: #d3d3d3;
  --success: #67ad59;
  --warning: #e49d21;
  --danger: #f44336;
  --deepboxshadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  --shallowboxshadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --maxwidth: 1000px;
  --borderradius: 5px;

  /* scale for 1.2 */
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.44rem;
  --font-size-4: 1.728rem;
  --font-size-5: 2.074rem;
  --font-size-6: 2.488rem;
  /* scale for 1.2 */
  --line-height-1: 1.2rem;
  --line-height-2: 1.44rem;
  --line-height-3: 1.728rem;
  --line-height-4: 2.074rem;
  --line-height-5: 2.488rem;
  --line-height-6: 2.986rem;
}
@mixin max-tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin min-tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin phone-landscape-to-tablet {
  @media screen and (min-width: 550px) and (max-width: 767px) {
    @content;
  }
}
@mixin tablet-to-desktop {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}
@mixin min-desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
@mixin max-desktop {
  @media screen and (max-width: 1279px) {
    @content;
  }
}
@mixin desktop-to-hd {
  @media screen and (min-width: 1280px) and (max-width: 2999px) {
    @content;
  }
}
@mixin min-hd {
  @media screen and (min-width: 3000px) {
    @content;
  }
}
@include min-tablet() {
  :root {
    /* scale for 1.33 */
    --font-size-1: 1rem;
    --font-size-2: 1.333rem;
    --font-size-3: 1.777rem;
    --font-size-4: 2.369rem;
    --font-size-5: 3.157rem;
    --font-size-6: 4.209rem;
    /* scale for 1.33 */
    --line-height-1: 1.333rem;
    --line-height-2: 1.777rem;
    --line-height-3: 2.369rem;
    --line-height-4: 3.157rem;
    --line-height-5: 4.209rem;
    --line-height-6: 5.598rem;
  }
}
.mobile-header {
  display: grid;
  @include min-tablet() {
    display: none;
  }
}
.hero {
  height: calc(100vh - 60px);

  @include min-tablet() {
    height: calc(100vh);
  }
}
.hero--text {
  position: absolute;
  top: calc(50vh);
  left: calc(12.5vw);
  width: calc(75vw);
  color: var(--lightshade);

  p {
    text-align: center;
    font-size: var(--font-size-3);
    line-height: var(--line-height-5);
    font-weight: 300;

    span {
      font-weight: 700;
    }
  }
}
